# git ignore files and directories
ChinesePuzzle/.idea/
ChinesePuzzle/.venv/
ChinesePuzzle/__pycache__/
ZomatoScraper/.idea/
ZomatoScraper/.venv/
ZomatoScraper/restaurant_data.json
puzzle/.idea/
puzzle/.venv/
puzzle/__pycache__/
puzzle/api/__pycache__/
pythonBasics/.idea/
pythonBasics/AllureReports/*.json
pythonBasics/ZomatoScraper/
pythonBasics/config/__pycache__/
pythonBasics/output/
selenium/*.log
selenium/.idea/
selenium/venv/
selenium/.venv/
pythonBasicsOld/.idea/
Selenium/*.log
Selenium/.idea/
Selenium/venv/
basics/.idea/
basics/venv/
# to delete files from git: git rm --cached filename
# to delete directories from git: git rm -r --cached folder_name
